[submodule "singularity"]
	path = vendor/singularity
	url = https://github.com/sylabs/singularity
[submodule "vendor/singularity"]
	path = vendor/github.com/sylabs/singularity
	url = https://github.com/sylabs/singularity
